/web/bundles/
/web/css/*
/web/js/*
/app/bootstrap*
/app/cache/*
/app/logs/*
/app/Resources/node/
/vendor/
.buildpath
.rsync_cache
.rsync_cache/*
.settings/*
.settings
.idea/*
.idea
.settings/org.eclipse.php.core.prefs
LICENSE
README.md
*.php~
fabfile.*
/bin
atlassian-ide-plugin.xml
node_modules
/*.log
