.idea
/web/bundles/
/web/assets/css/*
/web/assets/js/*
/web/assets/images/*
/web/assets/fonts/*
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/build/
/vendor/
/bin/
/composer.phar
