# ignore assets, keep in mind that prod/ assets will be versioned
/web/bundles/
/web/assets/*

# our local node install, node modules and node logs
/node_modules
/*.log

# thirdparty stuff
/vendor/

# bin folder
/bin/*
!/bin/install-node
!/bin/gulp
!/bin/npm
!/bin/ncu
!/bin/node
!/bin/console

/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
